.posts{
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;
    /* display: flex;
    flex-direction: column; */
} 

.posts + .posts{
    margin-top: 2rem;
}

.content{
    line-height: 1.6;
    color: var(--gray-300);
    margin-top: 1.5rem;
   
}

.content p{
    margin-top: 1rem;
}
.content a{
    font-weight: bold;
    color: var(--green-500);
    text-decoration: none;
}

.content a:hover{
    color: var(--green-300);
}

.posts > header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.posts >header time{
    font-size: 0.875rem;
    color: var(--gray-400);
}

.author{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.author img{
    width: 3rem;
    height: 3rem;
    border-radius: 8px;
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}

.authorInfo strong{
    display: block;
    line-height: 1.6;
    color: var(--gray-100);
}
.authorInfo span{
    display: block;
    line-height: 1.6;
    color: var(--gray-400);
    font-size: 0.875rem;
}

.commentsForm{
    width: 100%;
    margin-top: 1.5rem;
    padding: 1.5rem;
    border: 1px solid var(--gray-600);
}
.commentsForm > strong{
    line-height: 1.6;
    color: var(--gray-100);
    
}
.commentsForm > textarea{
    width: 100%;
    border: 0;
    background: var(--gray-900);
    resize: none;
    height: 6rem;
    padding: 1rem;
    border-radius: 8px;
    color: var(--gray-100);
    line-height: 1.6;
    margin-top: 1rem;
}

.commentsForm button{
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 8px;
    border: 0;
    background: var(--green-500);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;

}
.commentsForm div{
    visibility: hidden;
    max-height: 0;

}