.sidebar{
    background: var(--green-800);
    border-radius: 8px;
    overflow: hidden;
}
.cover{
    width: 100%;
    height: 80px;
    object-fit: cover;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar{ 
box-sizing: initial;
width: 3rem;
height: 3rem;
border-radius: 8px;
border: 4px solid var(--green-800);
outline: 2px solid var(--green-500);
}

.profile strog{
    margin-top: 1rem;
    color: var(--green-100);
    line-height: 1.6;
}

.profile span{
    font-size: 0.875;
    color: var(--gray-400);
    line-height: 1.6;
}

.sidebar footer{
    border-top: 1px solid var (--green-600);
    margin-top: 1.5rem;
    padding: 1.5rem 2rem 2rem;
}

.sidebar footer a{
    background: transparent;
    color: var(--green-500);
    border: 1px solid var(--green-500);
    border-radius: 8px;
    height: 50px;
    padding: 0 1.5.rem;
    font-weight: bold;
    display: block;
    text-decoration: none;
    display: flex;
    transition: color 0.5s, backgraud-color 0.4s;
}

.sidebar footer a:hover{
    background: var(--green-500);
    color: var(--white);
}